<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8">

        <meta property="og:title" content="{{title}}">
        <meta property="og:description" content="{{description}}">
        <meta property="og:image" content="{{image}}">
        <meta property="og:url" content="{{url}}">

        <title></title>

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/skeleton/skeleton.css">
        <link rel="stylesheet" href="/css/skeleton/normalize.css">      
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        
        <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>

        <script type="text/javascript" src="/js/jquery.js"></script>
        <script src="/js/riot_compiler.min.js"></script>

        <script type="text/javascript" src="/js/thoxyn.js"></script>
        <script type="text/javascript"  charset="utf-8">      
      </head>

    <body>
      <div class="card" id="general">
        <ul class="nav">
          <li><a href="/discover"><i class="fas fa-graduation-cap"></i> Discover</a></li>   
          <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>   
          <li><a href="/write"><i class="fas fa-chalkboard"></i> Write</a></li>
          <li><a href="/signin"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
          <li><a href="/search"><i class="fas fa-search"></i> Search</a></li>
        </ul>
        
        <br>
      </div>
      <div class="card" id="personal">
        <ul class="nav">
          <li><a href="/"><i class="fas fa-home"></i> Home</a></li>   
          <li><a href="/discover"><i class="fas fa-graduation-cap"></i> Discover</a></li>
          <li><a href="/search"><i class="fas fa-search"></i> Search</a></li>  
          <li><a href="/write"><i class="fas fa-chalkboard"></i> Write</a></li>
          <li><a href="/settings"><i class="fas fa-sliders-h"></i> Settings</a></li>
          <li><a href="/profile/{{muid}}"><i class="fas fa-user-alt"></i> Profile</a></li>
          <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Sign Out</a></li>
        </ul>

        <br>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="card npost">
            <img id="thumbnail" class="post-cover" src="/image/seven.jpg" />
            <p id="topic" class="topic"></p>
            <p class="title"><a style="text-decoration: none; color: #222" href="{{url}}" id="title" class="title"></a></p>
            <br>
            <p id="content" class="content">
            </p>
            <br><br>
            <p>Written by <a id="author" class="notd" href=""></a>, 
            <i id="date"></i>
            <br><br>
            <span id="views"></span> <i class="fa fa-eye" aria-hidden="true"></i> 
            <a onclick="like()" class="smallbtn"><i class="fas fa-angle-double-up"></i> <span id="likes"></span></a></p>
          </div>
          <br><br><br>

          <div class="card post" onclick="window.location='{{rbaseUrl}}/post/{{rpuid}}'">
            <img class="thumbnail" src="{{rthumb}}" />
            <br>
            <p class="topic">{{rtopic}} • AI RECOMMENDED • CONTINUE READING</p>
            <p class="title">{{rtitle}}</p>
            <br>
            <p class="content">
              {{rcontent}}
            </p>
            <p class="stats">{{rlikes}} <i class="fas fa-angle-double-up"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{rcomments}} <i class="far fa-comment-alt"></i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{rviews}} <i class="fa fa-eye" aria-hidden="true"></i></p>
            <p>Written by <a class="notd" href="/profile/{{rauid}}">{{rauthor}}</a> on <i>{{rdate}}</i></p>
          </div>

          <br><br><br>

          <div class="card post">
            <h3>Comment</h3>
            <textarea rows="7" cols="7" class="u-full-width" placeholder="Comment" name="comment-text" id="comment-text"></textarea>
            <br><br>
            <button onclick="submitComment()" id="comment-button" class="button button-primary cardbutton">Commment</button>
          </div>
        </div>
      </div>

      <br><br>

      <comments></comments>

      <script>
        let app = JSON.parse("{{app}}")

        let postuid = "{{uid}}"
        let muid = "{{muid}}"
        let gid = "{{gid}}"
        let url = "{{url}}"
        let comments = []
        
        $.ajax({
          url: "/serve/post/{{uid}}",
          type: "GET",
          dataType: "json",
          contentType: "application/json; charset=utf-8",
          success: function(data) {
            $('#title').text(data.content.title)
            $('#topic').text(data.content.topic)
            $('#views').text(data.external.views)
            $('#author').text(data.author.name)
            $('#date').text(data.aesthetic.date)
            $('#thumbnail').attr("src", data.aesthetic.thumbnail)
            document.getElementById("thumbnail").src = data.aesthetic.thumbnail
            $('#author').attr("href", "/profile/" + data.author.authoruid)
            $('#content').html(data.content.html)
            $('#likes').text(data.external.likers.length)

            document.title = data.content.title + " - Thoxyn"

            if(data.external.likers.includes(gid)) {
              $('#likes').text(data.external.likers.length + " You liked this.")
            }

            comments = data.external.comments

            riot.mount("comments", {})
          }
        });

        $("img").on("error", function() {
          $(this).hide(); 
        });
      </script>

      <script>
        function submitComment() {
          $("#comment-button").prop("disabled",true);
          let ctext = document.getElementById('comment-text').value
          document.getElementById('comment-text').value = ""

          $.post("/comment", { uid: postuid, content: ctext })
            .done(function(data) {
              if(data.success == true) {
                comments.push(data)
                riot.mount("comments", {})

                 window.scrollTo(0,document.body.scrollHeight);
                 $("#comment-button").prop("disabled",false);
              } else {
                alert(data.reason)
              }
            }
          );
        }
      </script>

      <script>
        function like() {
          $.ajax({
            url: "/like/{{uid}}",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              if(data.likers.includes(gid)) {
                $('#likes').text(data.likers.length + " You liked this.")
              } else {
                 $('#likes').text(data.likers.length)
              }
            }
          });
        }
      </script>

      <script type="riot/tag" src="/tags/comments.html">
      </script>

      <script type="text/javascript" src="/js/navigation.js">
      </script>
    </body>
</html>
